@page "{id:min(1)}"
@model EmlakOfisi.Pages.Admin.UpdateModel
@{
}

<h2>@Model.Agent.Username kullanıcı adına sahip emlakçıyı düzenliyorsunuz</h2>

@using (Html.BeginForm("OnPost", "Admin", FormMethod.Post))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Agent.Name, "Firma İsmi")
		@Html.TextBoxFor(m => m.Agent.Name, new { @class = "form-control" })
		@Html.LabelFor(m => m.Agent.Username, "Kullanıcı Adı")
		@Html.TextBoxFor(m => m.Agent.Username, new { @class = "form-control" })
		@Html.LabelFor(m => m.Agent.Password, "Şifre")
		@Html.TextBoxFor(m => m.Agent.Password, new { @class = "form-control" })
	</div>
	@Html.HiddenFor(m => m.Agent.Id)
	<div>
		<button type="submit" class="btn btn-success">Güncelle</button>
		<a class="btn btn-primary" href="/Admin/AdminUI">Geri</a>
	</div>
}