@page
@model EmlakOfisi.Pages.Agent.AgentUIModel
@{
}

<div>
	<a class="btn btn-primary" href="/Agent/MyAds/@Model.Agent.Id">İlanlarım</a>
	<a class="btn btn-primary" href="/Agent/ChangePassword/@Model.Agent.Id">Şifremi Değiştir</a>
	<a class="btn btn-primary" href="/Login/Login">Çıkış Yap</a>
</div>
<h2>İlanlar</h2>
<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>İlan Numarası</th>
			<th>İlan Adı</th>
			<th>Emlak Türü</th>
			<th>İlan Durumu</th>
			<th>Metrekaresi</th>
			<th>Bölüm/Oda Sayısı</th>
			<th width="150">Fiyat</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var ads in Model.Ads)
		{
			<tr>
				<td>
					<img src="@ads.ImagePath" width="200" , height="200" />
				</td>
				<td>@ads.No</td>
				<td>@ads.Name</td>
				<td>@ads.PropertyType</td>
				<td>@ads.Status</td>
				<td>@ads.M2 m²</td>
				<td>@ads.NumberOfRooms</td>
				<td>@String.Format("{0:#,##0.00}", ads.Price) TL</td>
			</tr>
		}
	</tbody>
</table>