@page "{id:min(1)}"
@model EmlakOfisi.Pages.Agent.ChangePasswordModel
@{
}

@using (Html.BeginForm("OnPost", "Agent", FormMethod.Post))
{
	<div class="form-group">
		@Html.LabelFor(m => m.OldPassword, "Eski Şifre")
		@Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control" })
		@Html.LabelFor(m => m.NewPassword, "Yeni Şifre")
		@Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
		@Html.LabelFor(m => m.ConfirmPassword, "Yeni Şifreyi Tekrarla")
		@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
	</div>
	@Html.HiddenFor(m => m.Agent.Id)
	<button type="submit" class="btn btn-success">Güncelle</button>
}
<a class="btn btn-primary" href="/Agent/AgentUI">Geri</a>