@page "{id:min(1)}"
@model EmlakOfisi.Pages.Agent.MyAdsModel
@{
}

<div>
	<a class="btn btn-primary" href="/Agent/Add">Yeni İlan Ekle</a>
	<a class="btn btn-primary" href="/Agent/AgentUI">Geri</a>
</div>
<h2>@Model.Agent.Name adlı emlakçıya ait ilanlar </h2>
<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>İlan Numarası</th>
			<th>İlan Adı</th>
			<th>Emlak Türü</th>
			<th>İlan Durumu</th>
			<th>Metrekaresi</th>
			<th>Bölüm/Oda Sayısı</th>
			<th>Fiyat</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var ads in Model.Ads)
		{
			<tr>
				<td>
					<img src="@ads.ImagePath" width="200" , height="200" />
				</td>
				<td>@ads.No</td>
				<td>@ads.Name</td>
				<td>@ads.PropertyType</td>
				<td>@ads.Status</td>
				<td>@ads.M2 m²</td>
				<td>@ads.NumberOfRooms</td>
				<td>@ads.Price TL</td>
				<td>
					<div>
						<a class="btn btn-primary" href="/Agent/Update/@ads.Id">Güncelle</a>
						<a class="btn btn-primary" href="/Agent/Delete/@ads.Id">Sil</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>