@page "{id:min(1)}"
@model EmlakOfisi.Pages.Agent.UpdateModel
@{
}

<h2>@Model.Agent.Username kullanıcı adına sahip emlakçıyı düzenliyorsunuz</h2>

@using (Html.BeginForm("OnPost", "Agent", FormMethod.Post))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Ad.ImagePath, "İlan Resmi")
		@Html.TextBoxFor(m => m.Ad.ImagePath, new { @class = "form-control" })
		@Html.LabelFor(m => m.Ad.Name, "İlan Adı")
		@Html.TextBoxFor(m => m.Ad.Name, new { @class = "form-control" })
		@Html.LabelFor(m => m.Ad.PropertyType, "Emlak Türü")
		@Html.TextBoxFor(m => m.Ad.PropertyType, new { @class = "form-control" })
		@Html.LabelFor(m => m.Ad.Status, "İlan Durumu")
		@Html.TextBoxFor(m => m.Ad.Status, new { @class = "form-control" })
		@Html.LabelFor(m => m.Ad.M2, "Metrekaresi")
		@Html.TextBoxFor(m => m.Ad.M2, new { @class = "form-control" })
		@Html.LabelFor(m => m.Ad.NumberOfRooms, "Bölüm/Oda Sayısı")
		@Html.TextBoxFor(m => m.Ad.NumberOfRooms, new { @class = "form-control" })
		@Html.LabelFor(m => m.Ad.Price, "Fiyatı")
		@Html.TextBoxFor(m => m.Ad.Price, new { @class = "form-control" })
	</div>
	@Html.HiddenFor(m => m.Ad.Id)
	<button type="submit" class="btn btn-success">Güncelle</button>
}
<a class="btn btn-primary" href="/Agent/MyAds/@Model.Agent.Id">Geri</a>
